In [10]:
import pandas as pd
df=pd.read_csv('d.csv')

In [11]:
df.head()

   Unnamed: 0  ...                                            reviews
0           0  ...  [{'review_heading': 'Very pleasantly surprised...
1           0  ...  [{'review_heading': 'Thumbs Up', 'text_review'...
2           0  ...  [{'review_heading': 'Very Thin Material -- See...
3           0  ...  [{'review_heading': 'Mediocre in Every Aspect....
4           0  ...  [{'review_heading': "Hardly 'Skinny' at all- t...

[5 rows x 3 columns]

In [14]:
import ast
import re
import string
nltk.download('punkt')
nltk.download('stopwords')
tot=15
text=""
f=open('z.txt','w',encoding='utf-8')
g=open('final.txt','w',encoding='utf-8')
res=[]
for i in range(tot):
    reviews=ast.literal_eval(df['reviews'][i])
    arr=[dict() for x in range(7)]
    f.write("\u0332".join(df['product_name'][i])+"\n\n\n")
    for review in reviews:
        text+=' '+review['text_review']
    import re
    import nltk
    text = re.sub(r'\[[0-9]*\]',' ',text)            
    text = re.sub(r'\s+',' ',text)    
    clean_text = text.lower()
    clean_text = re.sub(r'\W',' ',clean_text)
    clean_text = re.sub(r'\d',' ',clean_text)
    clean_text = re.sub(r'\s+',' ',clean_text)
    sentences = nltk.sent_tokenize(text)
    stop_words = set(nltk.corpus.stopwords.words('english')+list(string.punctuation))
    word2count = {}  
    for word in nltk.word_tokenize(clean_text):    
        if word not in stop_words:                 
            if word not in word2count.keys():
                word2count[word]=1
            else:
                word2count[word]+=1
    for key in word2count.keys():                   
        word2count[key]=word2count[key]/max(word2count.values())
    sent2score = {}
    for sentence in sentences:
        for word in nltk.word_tokenize(sentence.lower()):
            if word in word2count.keys():
                if len(sentence.split(' '))<30:
                    if sentence not in sent2score.keys():
                         sent2score[sentence]=word2count[word]
                    else:
                        sent2score[sentence]+=word2count[word]
    import heapq
    best_sentences = heapq.nlargest(4,sent2score,key=sent2score.get)
    tmp=""
    for sentences in best_sentences:
        f.write(sentences+'\n')
        tmp+=sentences+" ";
    tmpObj={
        'product':df['product_name'][i],
        'summary':tmp[:len(tmp)-1]
    }
    res.append(tmpObj)
    f.write("\n\n")
g.write(str(res))

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

6713